@charset "utf-8";
body{
	background-color: white;
}
#header{
	height: 50px;
	width: 100%;
	background-color:#F3F26F;
	border-radius: 10px;
}
h2{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #FFFFFF;
}
#isi{
	padding-top: 50px;
	border-color:#000000;
}
#info{
	padding-top: 10px;
	padding-left: 10px;
	height: 300px;
	width: 53%;
	float: right;
	background-color: gainsboro;
	border-radius: 10px;
}
input{
	width: 300px;
	height: 30px;
	border-radius: 5px;
}
textarea{
	width: 600px;
	height: 200px;
}