@charset "utf-8";
#header{
	height: 50px;
	width: 100%;
	background-color:aquamarine;
	border-radius: 4px;
}
h2{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #FFFFFF;
}
#info{
	padding-top: 70px;
	height: 120px;
	width: 100%;
	float: right;
	background-color: gainsboro;
	border-radius: 10px;
}
input{
	width: 300px;
	height: 30px;
	border-radius: 5px;
}
textarea{
	width: 615px;
	height: 30px;
	border-radius: 3px;
}
#wrap{
	background-color:gainsboro;
	width: 70%;
	height: 550;
}
